* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {
    --background-primary:#f5f5f5;
    --background-toggle:#fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-primary);
}

.toggle {
    position: relative;
    width: 70px;
    height: 70px;
    background: var(--background-toggle);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}